[mysqld]
server_id=1
bind_address=0.0.0.0

log_bin=/var/lib/mysql/mysql-bin
binlog_format=ROW
binlog_row_image=FULL
binlog_expire_logs_seconds=1209600
sync_binlog=1

gtid_mode=ON
enforce_gtid_consistency=ON

binlog_transaction_dependency_tracking=COMMIT_ORDER

skip_name_resolve=ON
performance_schema=ON
