MYSQL_ADMIN_USER=labadmin
MYSQL_REPLICATION_USER=repl
MYSQL_APP_USER=order_app
MYSQL_REPLICA_HOST=127.0.0.1
MYSQL_REPLICA_PORT=33061
MYSQL_ROOT_PASSWORD=
MYSQL_ADMIN_PASSWORD=
MYSQL_REPLICATION_PASSWORD=
MYSQL_APP_PASSWORD=
