[mysqld]
server_id=2
bind_address=0.0.0.0

log_bin=/var/lib/mysql/mysql-bin
relay_log=/var/lib/mysql/relay-bin
log_replica_updates=ON
binlog_format=ROW
binlog_row_image=FULL
binlog_expire_logs_seconds=1209600
sync_binlog=1

gtid_mode=ON
enforce_gtid_consistency=ON

replica_parallel_type=LOGICAL_CLOCK
replica_parallel_workers=1
replica_preserve_commit_order=ON

read_only=ON
skip_replica_start=OFF

skip_name_resolve=ON
performance_schema=ON
